<div class="main-content-for-profile">

<div class="user-blogs">

<h2><%= @user.username %>'s Page</h2>
</div>

<div class="profile-blog">
  <% @blogs.each do |blog| %>
  <a href="/blog/<%= blog.id %>"><div class="blog-title"><%= blog.title %></div></a>

  <form class="" action="/blog_edit/<%= blog.id %>" method="get">
    <input type="submit" value="edit">
    <input type="hidden" name="blog_id" value="<%= blog.id %>">
  </form>

  <form class="" action="/blog_delete/<%= blog.id %>" method="post">
    <input type="submit" name="" value="delete">
    <input type="hidden" name="blog_id" value="<%= blog.id %>">
  </form>

  <% end %>
</div>

<div class="make-new-blog">

<h2>Make New Blog</h2>
<form class="blog-input-form" action="/profile" method="post">
  <input type="text" name="title" placeholder="Blog Title">
  <div><textarea name="content" placeholder="(less than 150 characters)" rows="6" cols="20" maxlength="150"></textarea> </div>
  <input type="hidden" name="user_id" value= "<%= session[:user_id] %>">
  <input type="submit">
</form>

</div>


<div class="other-users">

<h3>Other User's Profiles</h3>

<div class="all-users">
  <% User.all.each do |user| %>
  <a href="/profile/<%= user.id %>"><%= user.username %></a>
  <% end %>
</div>

</div>

</div>
